<!DOCTYPE html>
<html>
  <%- include('head.html'); -%>
  <body>
    <%- include('header.html'); -%>
    <p>Welcome to <%= title %></p>
    <a href="https://www.flaticon.com/free-icons/hair" title="hair icons">Hair icons created by Freepik - Flaticon</a>
    <%- include('footer.html'); -%>
  </body>
</html>
