<!DOCTYPE html>
<html>
  <%- include('head.html'); -%>
  <body>
    <%- include('header.html'); -%>
    <script src="/javascripts/Transpiled.js" defer></script>
    <form id="questionnaire" method="post" action="/qz">
    </form>
    <%- include('footer.html'); -%>

  </body>
</html>
