<!DOCTYPE html>
<html>
  <%- include('head.html'); -%>
  <body>
    <%- include('header.html'); -%>
    <script src="public/javascripts/Transpiled.js"></script>
    <form method="post" action="/qz">
        <label for="q1">???</label><br>
        <input type="text" id="q1" name="q1"><br>
        <input type="submit">
    </form>
    <%- include('footer.html'); -%>
  </body>
</html>
