@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inter&display=swap');
:root {
    --black: #231F20; 
    --red: #BB4430;
    --bgbrown: #F6C5AF;
}

html {
    background-image: linear-gradient(to bottom right, var(--bgbrown), #FCB07E);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gloock', serif;
    color: var(--black);
}

p, li, i, b, a {
    font-family: 'Inter', sans-serif;
    font-size: large;
}

a {
    text-decoration: none;
    color: var(--red);
}
a:hover {
    color: #7EBDC2; 
}

#title {
    text-align: center;
    margin: auto;
    padding:14px;
    font-size: 42pt;
}

.nav ul {
    list-style: none;
}
.nav li {
    display: inline-block;
    margin: 10px;
}
.nav a {
    font-family: 'Gloock', serif;
}

.main-body {
    padding: 10px;
}
.footer {
    width: 100%;
    padding: 10px;
}
.footer p {
    color: var(--red);
    float: right;
}